/* || GENERAL STYLES */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* || BACKGROUND IMAGE */

figure img {
  min-height: 100px;
  height: auto;
  width: 100%;
}

/* || MAIN CONTENT - GENERAL */

.main-content {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50% 150% 33%;
  grid-gap: 1em;
  margin: 1em;
}

.main-content > section {
  background: var(--light-background);
  padding: 1em;
  color: var(--white);
}

.main-content > section:nth-child(odd) {
  background: var(--dark-background);
}

.section-label {
  font-size: 2vw;
  border-right: 6px solid var(--dark-highlight);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  text-decoration: underline var(--yellow-highlight);
}

/* || PROJECTS SECTION */

.projects-section {

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  grid-template-areas:
    "main main alt"
    "alt alt alt";
}

.card {
  height: 100%;
  width: 100%;
  margin: 1%;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: flex-end;
  overflow: hidden;
}

/* .card a {
  opacity: 75%;
} */

.card-main {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  /* grid-area: 1 / 1 / span 1 / span 3; */
}

.card-alt {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
}

/* .img-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--light-background);
  color: var(--dark-highlight);
  flex: 1 1 50%;
  padding: 2px;
} */

/* a:hover {
  opacity: 100%;
} */

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.025);
}



/* NEW */
.feature-card {
  width: 18rem;
}

.card-img-top {
  max-height: 75px;
  max-width: 75px;
}

/* .weather-card {
  width: 1000px;
} */

/* .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .grid-container {
  display: grid;
  column-gap: 10px;
} */