/* || GENERAL STYLES */

:root {
  --dark-background: #42a5f5;
  --light-background: #90caf9;
  --dark-highlight: #1e88e5;
  --yellow-highlight: #ffff00;
  --sunset-orange: #ff9933;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--white);
}

/* || HEADER */

header {
  background-color: var(--dark-background);
  color: var(--white);
  position: sticky;
  top: 0px;
  overflow: auto;
  width: 100%;
  z-index: 100;
  display: block;
  align-items: center;
  /* justify-content: center; */
  padding: 20px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  text-decoration: underline var(--yellow-highlight);
  margin-left: 20px;
}

/* .period {
  display: none;
} */

header img {
  margin-right: 20px;
  height: 75px;
  width: auto;
  border: 2px solid var(--white);
}

/* || NAVIGATION BAR */

.navbar {
  position: fixed;
  width: 100%;
  min-height: 25px;
  max-height: 50px;
  background-color: var(--light-background);
  z-index: 100;
  border-bottom: 1px solid var(--dark-highlight);
}

.navbar a {
  float: right;
  font-size: 16px;
  color: var(--dark-highlight);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* || BACKGROUND IMAGE */

figure img {
  min-height: 100px;
  height: auto;
  width: 100%;
}

/* || MAIN CONTENT - GENERAL */

.main-content {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50% 75%;
  grid-gap: 1em;
  margin: 1em;
}

.main-content > section {
  background: var(--light-background);
  padding: 1em;
  color: var(--white);
}

.main-content > section:nth-child(odd) {
  background: var(--dark-background);
}

.section-label {
  font-size: 2vw;
  border-right: 6px solid var(--dark-highlight);
  display: flex;
  align-items: flex-start;
  text-align: center;
}

/* HISTORY SECTION */

#history-section {
  display: block;
}

/* || DAILY SECTION */

/* #daily-weather {
  display: inline;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
  grid-template-areas:
    "main main main main main"
    "alt alt alt alt alt alt";
} */

.card {
  height: 100%;
  width: 100%;
  margin: 1%;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: flex-end;
  overflow: hidden;
}

.card-alt {
  grid-area: alt;
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
}

.weather-article {
  height: 100px;
}

#weather-spot {
  height: 100px;
}

#weather-container {
  height: 100px;
}

a:hover {
  opacity: 100%;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.025);
}

/* || VIEWPORT RESIZING */

@media screen and (max-width: 768px) {

  /* .dropdown {
    float: left;
  } */

  .main-content {
    grid-template-rows: 33% 75%;
  }

  .section-label h2 {
    /* writing-mode: vertical-lr; */
    /* text-orientation: upright; */
    font-size: 80%;
  }

};

@media screen and (max-width: 345px) {

  .main-content {
    grid-template-rows: 40% 75%;
  }
};